@model Nop.Plugin.Misc.Ebay.Models.EbayClientViewModel

@{
    //page title
    ViewBag.PageTitle = "Ebay Clients";
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("Ebay Clients");
}

<form asp-controller="EbayClients" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add Client
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back to Clients</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>